:root {
  --accent-color: rgb(207, 148, 57);
}

html {
  color: aliceblue;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#main-part {
  color: var(--accent-color);
  width: 80%;
  align-items: center;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
}

#header {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#image-input {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#input-section {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
