html {
    color:aliceblue
}
body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}
#header {
    display: flex !important; 
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#image-input {
    display: flex !important; 
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#input-section {
    display: flex !important; 
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
